file filter=lfs diff=lfs merge=lfs -text
/Library/Bee/artifacts/objcopy_b9ry/libil2cpp.dbg.so filter=lfs diff=lfs merge=lfs -text
/Library/Bee/artifacts/objcopy_5lmi/libil2cpp.dbg.so filter=lfs diff=lfs merge=lfs -text
/Library/Bee/artifacts/Android/d8kzr/libil2cpp.so filter=lfs diff=lfs merge=lfs -text
/Library/Bee/artifacts/Android/il2cppOutput/build/armeabi-v7a/libil2cpp.dbg.so filter=lfs diff=lfs merge=lfs -text
/Library/Bee/artifacts/Android/il2cppOutput/build/arm64-v8a/libil2cpp.dbg.so filter=lfs diff=lfs merge=lfs -text
/Library/Bee/artifacts/Android/iz17e/libil2cpp.so filter=lfs diff=lfs merge=lfs -text
/Assets/AnyConv.com__mason1.fbx filter=lfs diff=lfs merge=lfs -text
/Assets/Firebase/Plugins/x86_64/FirebaseCppApp-9_6_0.bundle filter=lfs diff=lfs merge=lfs -text
*.bundle filter=lfs diff=lfs merge=lfs -text
*.so filter=lfs diff=lfs merge=lfs -text
*.fbx filter=lfs diff=lfs merge=lfs -text
